@model IEnumerable<WebApplication4.Models.Repuesto>

@{
	ViewBag.Title = "IndexSupervisor";
}

<h2>IndexSupervisor</h2>

<p>
	@Html.ActionLink("Crear repuesto", "CreateRepuesto") | @Html.ActionLink("Crear empleado", "CreateEmpleado")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.nombre)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.costo)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.costo)
			</td>
			<td>
				@Html.ActionLink("Edit", "EditRepuesto", new { id = item.idRepuesto })
				<!--@Html.ActionLink("Details", "Details", new { id=item.idRepuesto }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.idRepuesto })-->
			</td>
		</tr>
	}

</table>

@Html.ActionLink("Back to Login", "Login")
